{{ define "main" }}

{{ $images := .Resources.ByType "image" }}

<div class="photo-gallery pswp-gallery" id="photos">
  {{ range $i, $image := $images }}
    {{ $w := $image.Width }}
    {{ $h := $image.Height }}
    {{ $thumb := $image.Fit "800x800" }}
    
    <a 
      href="{{ $image.RelPermalink }}"
      data-pswp-src="{{ $image.RelPermalink }}"
      data-pswp-width="{{ $w }}"
      data-pswp-height="{{ $h }}"
      class="photo-link"
    >
      <img
        src="{{ $thumb.RelPermalink }}"
        alt="{{ $.Title }}"
        loading="lazy"
        class="photo"
      />
    </a>
  {{ end }}
</div>

<header class="photo-header">
  <h2>{{ .Title }}</h2>
  <div class="photo-data">
    <time datetime="{{ .Date }}">{{ .Date.Format "02 Jan 2006" }}</time>
    <div>📍{{ .Params.place }}</div>
  </div>
</header>

<div class="photo-content">
  {{ .Content }}
</div>

{{/* PhotoSwipe Lightbox */}}
{{ $lightboxScript := resources.Get "photoswipe/dist/photoswipe-lightbox.esm.js" | resources.Fingerprint }}
{{ $pswpModule := resources.Get "photoswipe/dist/photoswipe.esm.js" | resources.Fingerprint }}
{{ $lightboxStyle := resources.Get "photoswipe/dist/photoswipe.css" | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $lightboxStyle.RelPermalink }}">

<script type="module">
  import PhotoSwipeLightBox from '{{ $lightboxScript.RelPermalink }}';
  const lightbox = new PhotoSwipeLightBox({
    gallery: '#photos',
    children: 'a',
    pswpModule: () => import('{{ $pswpModule.RelPermalink }}')
  });
  lightbox.init();
</script>

<style>
  .photo-gallery {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 6px;
    margin-bottom: 20px;
  }
  .photo {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    transition: transform .3s;
  }
  .photo-data {
    display: flex;
    flex-direction: column;
  }
  .photo:hover {
    transform: scale(1.03);
  }
  .photo-header { margin-bottom: 10px; }
</style>

{{ end }}
