<style>
  @font-face {
    font-family: SpaceGrotesk;
    src: url("../../fonts/SpaceGrotesk-Regular.ttf");
  }

  @font-face {
    font-family: FiraMono;
    src: url("../../fonts/FiraMono-Regular.ttf");
  }

  @font-face {
    font-family: Lora;
    src: url("../../fonts/Lora-Regular.ttf");
  }

  body {
    font-family: FiraMono;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #1d1d1d;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #e3dddd;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #eee;
  }

  a {
    color: #b39ddb;
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-family: SpaceGrotesk;
  }

  nav:last-child {
    color: #817373;
  }

  nav a {
    color: #d65d0e;
    margin-right: 10px;
    text-decoration: underline 3px;
    font-weight: bold;
    font-size: 1.2em;
  }

  textarea {
    width: 100%;
    font-size: 16px;
    background-color: #252525;
    color: #ddd;
  }

  input {
    font-size: 16px;
    background-color: #252525;
    color: #ddd;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #777;
  }

  pre code {
    color: #ddd;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #ccc;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #aaa;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }
  .post-data {
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 600px) {
    .post-data {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    nav {
      display: block;
    }
  }
</style>
