{{ define "main" }}

{{ $dir := "pictures-site" }}
{{ $pictures := (readDir (printf "assets/%s" $dir)) }}
{{ $sortedPictures := slice }}

{{ range $pictures }}
  {{ $baseName := strings.TrimSuffix (path.Ext .Name) .Name }}

  <!-- Check if it's an image -->
  {{ if (or (eq (lower (path.Ext .Name)) ".jpg") (eq (lower (path.Ext .Name)) ".jpeg") (eq (lower (path.Ext .Name)) ".png") (eq (lower (path.Ext .Name)) ".gif")) }}

    <!-- Find the corresponding Markdown file -->
    {{ $page := site.GetPage (printf "pictures/%s.md" $baseName) }}
    
    <!-- If the Markdown file exists and contains a date -->
    {{ if $page }}
      {{ $date := $page.Params.date }}
      {{ $sortedPictures = $sortedPictures | append (dict "Name" .Name "Date" $date) }}
    {{ end }}
    
  {{ end }}
{{ end }}

<!-- Sort the images by date in descending order -->
{{ $sortedPictures = sort $sortedPictures "Date" "desc" }}

<div class="grid-container">
  {{ range $sortedPictures }}
  {{ $baseName := strings.TrimSuffix (path.Ext .Name) .Name }}
  <div class="grid-picture">
    <a class="picture-link" href="{{ printf "/pictures/%s" $baseName }}">
      <img
        src="{{ $dir | relURL }}/{{ .Name }}"
        alt="{{ .Name }}"
        width="auto"
        height="auto"
      />
    </a>
  </div>
  {{ end }}
</div>

<style>
  .grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .picture-link:hover {
    opacity: 0.5;
  }
</style>
{{ end }}