{{ define "main" }}

{{ $dir := "pictures-site" }}
{{ $staticDir := printf "/%s" $dir }} 

<div class="grid-container">
  {{ range (readDir (printf "static/%s" $dir)) }}
    {{ $baseName := strings.TrimSuffix (path.Ext .Name) .Name }}
    <!-- Check if it's an image -->
    {{ if (or (eq (lower (path.Ext .Name)) ".jpg") (eq (lower (path.Ext .Name)) ".jpeg") (eq (lower (path.Ext .Name)) ".png") (eq (lower (path.Ext .Name)) ".gif")) }}
      <div class="grid-picture">
        <!-- Link to the single.html page for this image -->
        <a class="picture-link" href="{{ printf "/pictures/%s" $baseName }}">
          <img
            src="{{ $staticDir }}/{{ .Name }}"
            alt="{{ .Name }}"
            width="auto"
            height="auto"
          />
        </a>
      </div>
    {{ end }}
  {{ end }}
</div>

<style>
  .grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }

  .grid-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .picture-link:hover {
    opacity: 0.5;
  }
</style>

{{ end }}
