{{ define "main" }}
<head>
  <style>
    body {
      font-family: Lora;
    }
    h1, .post-data {
      font-family: FiraMono;
    }

    h2, h3, h4, h5, h6 {
      font-style: italic;
    }
  </style>
</head>
{{ if eq .Type "posts" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<div class="post-data">
  <div>
      <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
  </div>
  <div>
    {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    {{ end }}
  </div>
</div>
{{ end }}{{ end }}
<p>
  
</p>
<content class="h-card">
  {{ .Content }}
</content>

<section class="post-end">
  {{ if strings.HasPrefix .Path "/posts/" }}
  {{ with .PrevInSection }}
    <a class="prev" href="{{ .Permalink }}">Prev &raquo</a>
  {{ end }}
  {{ with .NextInSection }}
    <a class="next" href="{{ .Permalink }}">&laquo Next</a>
  {{ end }}
  {{ end }}
</section>

<style>
  .prev {
    float: right;
  }
  .next {
    float: left;
  }
  .post-end {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>

{{ end }}