{{ define "main" }}
{{ if eq .Type "posts" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content class="h-card">
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

<section class="post-end">
  <p>You have written a <strong>response</strong>? Post it <a href="https://webmention.io/jschall.net/webmention">here</a>!</p>

  {{ with .PrevInSection }}
    <a class="prev" href="{{ .Permalink }}">{{ .Title }}&raquo</a>
  {{ end }}
  {{ with .NextInSection }}
    <a class="next" href="{{ .Permalink }}">&laquo{{ .Title }}</a>
  {{ end }}
</section>

<style>
  .prev {
    float: right;
  }
  .next {
    float: left;
  }
  .post-end {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>

{{ end }}