@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IBMPlexMono;
  src: url("../assets/font/IBMPlexMono-Regular.ttf");
}

body {
  @apply h-[100vh] mt-[2rem];
}

body.noscroll {
  @apply overflow-hidden;
}

main a:hover {
  @apply text-blue-800;
}

aside {
  @apply hidden lg:flex w-[250px] top-0 h-full fixed font-[IBMPlexMono] text-lg overflow-auto flex-col items-center;
}

aside a:active, 
aside a:hover {
  @apply underline;
}

aside.mobile-view {
  @apply flex bg-[#ededed] h-full z-10 p-3 rounded-lg top-0;
}

aside.mobile-view .profile-img {
  @apply mt-10;
}

.profile-img {
  @apply rounded-full w-[60%] max-w-[60%] mt-[2rem];
}

main {
  @apply prose max-w-none text-xl
    prose-h1:font-bold prose-h1:text-xl
    prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
    prose-headings:underline lg:ml-[300px] lg:mr-[300px] ml-2 mr-2 max-lg:mt-20;
}

.metabar {
  @apply text-lg font-[IBMPlexMono] z-[5];
  @apply lg:w-[250px] lg:fixed lg:right-[20px] lg:top-[100px];
  @apply max-lg:absolute max-lg:left-2 max-lg:right-2 max-lg:grid max-lg:grid-cols-1 sm:grid-cols-2;
}

.metabar section {
  @apply px-4 py-3;
}

.metabar button {
  @apply h-[30px] w-[30px] border bg-[#e3e3e370];
}

.graph-control {
  @apply absolute top-3 left-2 z-10;
}

.metabar h1 {
  @apply uppercase tracking-wide text-zinc-500 mb-2;
}

.meta-content {
  @apply border-[2px] border-t-0 border-r-0 border-b-0 border-[#2db42dd8] p-0.5 flex flex-col gap-1;
}

.links {
  @apply lg:fixed right-[5px] bottom-[20px] md:absolute;
}

.link-icons {
  @apply flex gap-3;
}

.link-icons img {
  @apply hover:scale-105 hover:opacity-80 transition;
}

.headings {
  @apply overflow-y-auto;
  max-height: 350px;
}

.headings ul {
  @apply p-0;
}

.headings ul a {
  @apply text-zinc-700 hover:text-black transition;
}

.headings a:hover {
  @apply underline;
}

.headings a:hover {
  @apply underline;
}

.tags-container {
  @apply sm:px-2;
}

.tag-link {
  @apply inline-block rounded-[25px] bg-[#6eb86ecb] py-0.5 px-[10px] mt-0.5;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  cursor: pointer;
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
  list-style: none;
}

.tree summary {
  list-style: none;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
}

.tree summary::before {
  content: url("../assets/images/dir_icon.svg");
  position: absolute;
  left: 0;
  top: 0.1em;
}

#container {
  width: 100%;
  height: 200px;
  border: 2px solid #dfdede;
  border-radius: 10px;
}

/* slide animation classes for sidepanel mobile view */
@keyframes slide-in {
  0% { transform: translateX(-100%);}
  100% { transform: translateX(0%);}
}

aside.slide-in {
  animation: slide-in 0.7s forwards;
}

.latest-posts {
  @apply list-none;
}

.latest-posts li::before {
  content: ">";
}

.latest-posts li {
  text-indent: -1rem;
}