---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  const allTags = notes.flatMap((note) => note.data.tags || []);
  const tags = new Set(allTags);
  
  return Array.from(tags).map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
const notes = await getCollection("notes");
const contentWTag = notes.filter(note => note.data.tags?.includes(tag));
---

<Main title={`#${tag}`} >
  <h2>{`All posts with #${tag}`}</h2>
  <ul>
    {contentWTag.map(note => 
      <li>
        <a href={`/notes/${note.slug}`}>{note.data.title}</a>
      </li>
    )}
  </ul>
</Main>