---
import { Image } from "astro:assets";
import profileImg from "../assets/icons/profile.png";
import Gallery from "../components/Gallery.astro";
import Main from "../layouts/Main.astro";
import "../styles/global.css";
---

<Main title="home">
  <header class="head">
    <a href="/"><Image src={profileImg} alt="" class="profile-img" /></a>
    <p>
      Hey, I'm Jan:)
      <br />
      In my freetime I spend mostly my time with reading, particularly sci-fi, coding
      & <b><a style="color: #DDD; text-decoration: none;" href="/tags/stargazing">#stargazing</a></b>.
    </p>
  </header>
  <Gallery />
</Main>