---
import Main from "../layouts/Main.astro";
---

<Main title="Terms of Privacy">
  <h1 id="terms-of-privacy">Terms of Privacy</h1>
  <h2 id="1-introduction">1. Introduction</h2>
  <p>
    The operator of this website is committed to protecting your data. This
    privacy policy informs you about the nature, scope, and purpose of the
    collection and use of personal data on this website.
  </p>
  <h2 id="2-responsible-party">2. Responsible Party</h2>
  <p>The responsible party in accordance with data protection laws is:</p>
  <p>
    <strong>Jens Schall</strong>
    <br />
    <strong>jschxll@proton.me</strong>
  </p>
  <h2 id="3-data-collection-and-processing">
    3. Data Collection and Processing
  </h2>
  <p>
    This website does not collect personal data unless you voluntarily provide
    it (e.g., through contact forms). No cookies are used, and no data about
    user behavior is collected.
  </p>
  <h2 id="4-rights-of-affected-persons">4. Rights of Affected Persons</h2>
  <p>
    As an affected person, you have the right to access, the right to
    rectification or deletion, the right to restriction of processing, and the
    right to object to the processing of your data. If you have given consent,
    you can withdraw it at any time with future effect.
  </p>
  <p>Please address your objection informally to the following address:</p>
  <p>See more under the section &quot;Responsible party&quot;</p>
  <p>
    Furthermore, you have the right to data portability. You also have the right
    to file a complaint with a supervisory authority regarding the processing. A
    list of relevant authorities can be found at: <a
      href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
      >BfDI - Addresses and Links (German)</a
    >.
  </p>
  <h2 id="5-hosting">5. Hosting</h2>
  <p>
    His host collects the following data via so-called log files that your
    browser transmits:
  </p>
  <ul>
    <li>IP address</li>
    <li>Address of the previously visited website (referer request header)</li>
    <li>Date and time of the request</li>
    <li>Time zone difference from Greenwich Mean Time</li>
    <li>Content of the request</li>
    <li>HTTP status code</li>
    <li>Amount of data transferred</li>
    <li>Website from which the request originates</li>
    <li>Information about the browser and operating system</li>
  </ul>
  <p>
    This is necessary to display the website and to ensure its stability and
    security. This aligns with his legitimate interest under Article 6(1)(f)
    GDPR.
  </p>
  <p>
    There is no tracking involved, and he does not have direct access to this
    data.
  </p>
  <p>He uses the following host for providing the website:</p>
  <p>
    <strong>GitHub Inc.</strong><br />88 Colin P Kelly Jr St<br />San Francisco,
    CA 94107<br />United States
  </p>
  <p>
    GitHub is the recipient of your personal data. This aligns with his
    legitimate interest under Article 6(1)(f) GDPR, as he does not need to
    maintain a server on his premises. The server location is in the USA.
  </p>
  <p>
    For more information on how to object and remove data with GitHub, please
    refer to: <a
      href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages"
      >GitHub Privacy Statement</a
    >
  </p>
  <p>
    You have the right to object to the processing. Whether the objection is
    successful will be determined through a balancing of interests.
  </p>
  <p>
    Data will be deleted as soon as the purpose of processing no longer applies.
  </p>
  <p>
    The processing of the data specified in this section is neither legally nor
    contractually required. The functionality of the website is not guaranteed
    without processing.
  </p>
  <p>
    GitHub has implemented compliance measures for international data transfers.
    These measures apply to all global activities where GitHub processes
    personal data of individuals in the EU. These measures are based on the EU
    Standard Contractual Clauses (SCCs). For more information, please refer to: <a
      href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors"
      >GitHub Data Protection Addendum</a
    >
  </p>
</Main>
