---
import FileStructure from "./FileStructure.astro";
import Tags from "./Tags.astro";

const { headings, tags } = Astro.props;
---

<section class="metabar">
  <div id="container" style="background-color: #252422; border: none"></div>
  <div class="graph-control">
    <button id="zoom-in">+</button>
    <button id="zoom-out">-</button>
    <button id="reset-zoom">0</button>
  </div>
  {tags && <Tags tags={tags} />}
  {headings && headings.length > 0 && <FileStructure headings={headings} />}
</section>