<pre id="night-sky">
    +~~         .       *     o .            +     .    o       |               
                  +          .                                 -o-       o      
 '                      +                     '                 |  .            
                                                .                               
                     +  '       +                         .   +     |           
    .                      +                                      - o -    '    
              .                                                     |           
'        .   o  .                                                               
 ~~+         .    .-.             *                   o    '        '           
         o       ( (                +                 '    .                    
         .     o  `-'                                          +                
       .      o.'                              .                                
   . *                                 +         .    o           |            '
     '              o                             '       *  '  - o -           
'            .                .                                   |             
o     '                                      '           +             '        
     +   o                o                .          ':.   o      *       +    
                                                        '::._             '     
..                               '                        '._)    +           . 
                      .     .                                             o     
</pre>