{{ $dir := .Get "dir"}} 
{{ $images := (readDir resources.Get $dir) }}

<div class="grid-container">
  {{ range $images }}
  {{ $baseName := strings.TrimSuffix (path.Ext .Name) .Name }}
  <!-- Check if it's an image -->
  {{ if (or (eq (lower (path.Ext .Name)) ".jpg") (eq (lower (path.Ext .Name))
  ".jpeg") (eq (lower (path.Ext .Name)) ".png") (eq (lower (path.Ext .Name))
  ".gif")) }}
  <div class="grid-picture">
    <a class="picture-link" href="{{ printf "/pictures/%s" $baseName }}">
      <img
        src="{{ $dir | relURL }}/{{ .Name }}"
        alt="{{ .Name }}"
        width="auto"
        height="auto"
      />
    </a>
  </div>
  {{ end }} 
  {{ end }}
</div>

<style>
  .grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .picture-link:hover {
    opacity: 0.5;
  }
</style>
